{% extends 'main/base.html' %}

{% block content %}
<div class="container mt-5">

    <div class="row g-4">

        <!-- KADRA -->
        <div class="col-md-6">
            <a href="{% url 'cadre' %}" class="menu-box box-kadra d-flex justify-content-center align-items-center">
                <h1 class="m-0">KADRA</h1>
            </a>
        </div>

        <!-- UCZESTNICY -->
        <div class="col-md-6">
            <a href="{% url 'participants' %}" class="menu-box box-uczestnicy d-flex justify-content-center align-items-center">
                <h1 class="m-0">UCZESTNICY</h1>
            </a>
        </div>

    </div>

</div>

<style>
    .menu-box {
        height: 750px;
        border-radius: 20px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        transition: 0.4s;
    }

    .menu-box:hover {
        transform: scale(1.05);
        opacity: 0.9;
    }

    .box-kadra {
        background: linear-gradient(135deg, #1bc685, #77c29c);
    }

    .box-uczestnicy {
        background: linear-gradient(135deg, #0d6efd, #1a8cff);
    }

    @media (max-width: 768px) {
        .menu-box {
            height: 200px;
        }
    }
</style>



{% endblock %}